.app {
  justify-content: center;
  width: 100%;
  display: flex;
}
.d-flex.flex-column.justify-content-center.align-items-md-center {
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
